apiVersion: config.openshift.io/v1
kind: ImageDigestMirrorSet
metadata:
  name: idms-release-extract
spec:
  imageDigestMirrors:
{% for entry in openshift_image_digest_sources %}
  - source: {{ entry.source }}
    mirrors:
{% for mirror in entry.mirrors %}
    - {{ mirror }}
{% endfor %}
{% endfor %}
